/* body{
    font-family: 'Roboto', sans-serif;
} */

.sidebar{
    width: 150px;
    height: 100vh;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    background-image: url('../img/sidebar-bg.png');
}

ul{
    list-style: none;
}

.my_bg-white{
    background-color: white;
}

#block-student{
    background-color:#1b72e8;
    width: 100%;
    color: white;
}