.sidebar{
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    background-image: url('../img/sidebar-bg.png');
}

ul{
    list-style: none;
}

.my_bg-white{
    background-color: white;
}